<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= client.lastname %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= client.rut %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= client.mail %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= client.region %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client.description %>
  </p>

</div>
